.dark {
    --color-background: #222;
    --color-base: #f8f6f6;
    --color-primary: #5ca8ff;
    --color-secondary: #085FB9;
    --color-gray: #999;
    --color-gray-18: #2e2e2e;
    --color-gray-20: #333333;
    --color-gray-border: #777;
    --color-gray-bg: #999;
}